<h1><a href="/ia">Intelligent Array</a></h1>
<nav id="mainNavigation" class="global">
  <ul>
    <li class="username">Hi, {{ username }}!</li>
    <li><a href="#logout" class="logout">Logout</a></li>
  </ul>
</nav>
