{{ debug }}

<div class="issueInfo">
  Description: {{ alarm.alarm_type }}<br>
  Device: <span class="deviceName"></span><br>
  Created on: {{ date alarm.activated_at }}
</div>

<div class="projectInfo">

</div>

<div class="module chart"></div>