<div class="header">
  <span class="title"></span>
  <span class="refresh-icon">&#xf021;</span>
</div>

<div class="list-container">
  <table class="basic">
    <tbody></tbody>
  </table>
</div>

<div class="footer">
  <button type="button" class="button create">{{$ 'Create' }}</button>
  <button type="submit" class="button save primary">{{$ 'Save' }}</button>
  <button type="button" class="button cancel">{{$ 'Close' }}</button>
</div>
