<h1><a href="/ia">Intelligent Array</a></h1>
<nav id="nav_global" class="global">
  <ul>
    <li class="username">Hi, {{ username }}!</li>
    <li><a href="/myprofile" class="profile">My Profile</a></li>
    <li><a href="/logout" class="logout">Logout</a></li>
  </ul>
</nav>
