<div class="column_right_wrapper">
  <section class="column_right">
    <div class="verticalPane top">
      <div id="kpis">KPIs</div>
      <div id="map_view">Map</div>
    </div>
    <div class="verticalPane bottom">
      <div id="projects">Projects</div>
    </div>
  </section>
</div>
<nav id="nav_content" class="column_left">
  No Nav
</nav>
