<div id="map" class="map"></div>
<div class="container">
  <div id="kpis" class="left">KPIs</div>
  <div id="alarms" class="right">
    <table class="basic">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Inverter Offline</td>
          <td>Some description</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>