@import '../shared';
@import 'nib';
@import 'nib/gradients';


/* Portfolio edit */

.filter {
  border: 1px #444 solid;
  background: #202020;
  margin: 0 0 6px;
  overflow: hidden;
  padding: 6px;
  .remove {
    float: right;
  }
}

.conditions {
  padding: 0;
  margin: 0 0 12px;
  list-style-type: none;
  .condition {
    border: 1px #444 solid;
    background: #202020;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 6px;
  }
  .remove {
    float: right;
  }
}
