@import '../shared';
@import 'nib';
@import 'nib/gradients';

.conditionContainer {
  margin: 0 0 12px;
  ul.conditions {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .condition {
      border: 1px #444 solid;
      background: #202020;
      margin: 0 0 6px;
      overflow: hidden;
      padding: 6px;
    }
  }
}
