@import '../shared';
@import 'nib';
@import 'nib/gradients';

#page-alarms {
  .detail {
    padding: 6px;
    .info {
      margin: 0 0 12px;
    }
    .chart {
      margin: 0 0 12px;
    }
    .projectInfo {
      background: #222;
      padding: 6px;
      border: borderBasicMedium;
    }
  }
}
