@import '../shared';
@import 'nib';
@import 'nib/gradients';

#page-alarms {
  .detail {
    padding: 6px;
    .alarmInfo {
      margin: 0 0 12px;
      float: left;
      width: 50%;
    }
    .chart {
      margin: 0 0 12px;
      overflow: hidden;
      clear: both;
    }
    .projectInfo {
      background: #222;
      padding: 6px;
      border: borderBasicMedium;
    }
    .contactInfo {
      float: right;
      background: #222;
      margin: 0 0 12px;
      padding: 6px;
      border: borderBasicMedium;
    }
  }
}
