
#page-devices {
  .sitemapContainer {
    height: 50%;
  }
  .deviceDetail {
    height: 50%;
    overflow: auto;
    padding: 12px 6px;
  }
  .documents {
    ul {
      list-style-type: none;
      border: 1px #444 solid;
      background: #202020;
      margin: 0 0 6px;
      overflow: hidden;
      padding: 6px;
      li {
        margin: 0 0 6px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}