@import '../shared';
@import 'nib';
@import 'nib/gradients';

/* ==========================================================================
   Portfolio Styles
   ========================================================================== */

html, body, body > div {
  height: 100%;
}

/* Main components */

primaryBorderStyle = borderBasicDark;

header {
  background: colorBGDarkGrey;
  height: headerHeight;
  width: 100%;
  padding: 0 6px;
  border-bottom: borderBasicDark;
  position: relative;
  z-index: 202;
  h1 {
    padding: 0;
    margin: 0;
    float: left;
    background: url(../img/logo_draker_sml_wShadow.png) center center no-repeat;
    display: inline-block;
    width: 183px;
    height: headerHeight;
    line-height: headerHeight;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%
      height: 100%;
      text-indent: -200%;
    }
  }
  nav.global {
    float: right;
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-shadow: 0 0 1px #000;
    font-size: .85em;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: headerHeight
      line-height: headerHeight;
      li {
        padding: 0;
        float: left;
        border-left: borderBasicDark;
        border-right: 1px solid #292929;
        &.team_select {
          padding: 0 9px;
        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        a {
          display: block;
          text-decoration: none;
          padding: 0 9px;
          margin: 0;
          &:hover {
            background: #252525;
          }
        }
        .notificationDropDown {
          position: relative;
          width: 42px;
          line-height: 42px;
          .indicator {
            background: #111;
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            margin: 0 9px;
            border-radius: 50%;
            border-bottom: borderBasicMedium;
            font-size: 12px;
          }
          &:hover {
            .notifications {
              visibility: visible;
              opacity: 1;
            }
          }
          .notifications {
            visibility: hidden;
            opacity: 0;
            transition: opacity .25s ease-in-out;
            position: absolute;
            top: 100%;
            left: -79px;
            width: 200px;
            background: #111;
            border: borderBasicMedium;
            > .actions {
              background: colorBGDarkGrey;
              background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
              height: 24px;
              line-height: 24px;
              position: absolute;
              bottom: 0;
              width: 100%;
              border-top: borderBasicMedium;
              ul {
                height: inherit;
                line-height: inherit;
                padding: 0 6px;
                margin: 0;
                list-style-type: 0;
                li {
                  margin: 0;
                  padding: 0;
                  float: left;
                  color: colorDrakerOrange;
                }
              }
            }
            .arrow {
              background: url(../img/arrow_notifications.png) center top no-repeat;
              height: 6px;
              margin-top: -6px;
            }
            > ul {
              height: inherit;
              line-height: inherit;
              max-height: 200px;
              overflow: auto;
              box-shadow: basicBoxShadow;
              > li {
                width: 100%;
                padding: 6px;
                line-height: 1.25em;
                border: none;
                border-bottom: borderBasicMedium;
                margin: 0;
                &.empty {
                  color: #999;
                }
                &.acknowledged {
                  color: colorDisabledText;
                }
                &:last-child {
                  border-bottom: none;
                }
                .statusIndicator {
                  margin-right: 6px;
                }
                .alarm {
                  margin: 0 0 6px;
                }
                .info {
                  color: #999;
                }
                .actions {
                  display: block;
                  list-style-type: none;
                  padding: 0;
                  margin: 6px 0 0;
                  height: inherit;
                  line-height: inherit;
                  li {
                    float: left;
                    padding: 0 6px;
                    margin: 0;
                    border: none;
                    border-right: 1px solid #777;
                    cursor: pointer;
                    color: colorDrakerOrange;
                    &:first-child {
                      padding-left: 0;
                    }
                    &:last-child {
                      padding-right: 0;
                      border-right: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.banner {
  .notification {
    background: linear-gradient(#f8f356, #DFD85C);
    color: #555;
    height: bannerHeight;
    line-height: bannerHeight;
    padding: 0 6px;
    text-shadow: 0 1px 0 #f8f356;
    position: relative;
    z-index: 100;
    .actions {
      float: right;
    }
  }
}

.nav_page {
  width: 100%;
  height: pageNavHeight;
  line-height: pageNavHeight;
  position: relative;
  z-index: 201;
  padding: 0 6px;
  margin:0;
  background: colorBGDarkGrey;
  background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
  border-top: borderBasicMedium;
  border-bottom: borderBasicDark;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 1px #000;
  .breadcrumbs {
    float:left;
    ul.breadcrumbs {
      padding: 0;
      margin: 0;
      list-style-type: none;
      float: left;
      line-height: pageNavHeight - 2px;
      li {
        background: url(../../img/arrow_breadcrumbs.png) right center no-repeat;
        float: left;
        padding: 0 15px 0 0;
        margin: 0 6px 0 0;
        cursor: pointer;
        &:hover {
          transition:.5s;
          color: #fff;
        }
        &.active, &:last-child {
          color: #fff;
          font-weight: bold;
          background: none;
        }
      }
    }
  }
  ul.settings {
    height: pageNavHeight - 2px;
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      float: left;
      &.menu {
        width: 30px;
        height: 100%;
        background: url(../img/icon_settings.png) center center no-repeat;
        opacity: .25;
        &:hover {
          background-color: colorDropDownBG;
          opacity: 1;
        }
      }
    }
    // Force date widget to middle
    .dateSelection {
      margin: 2px 0;
    }
  }
}

// NOTE - This could use a massive clean up after getting all of the nav views unified
.nav_content {
  height: 100%;
  position: relative;
  z-index: 200;
  background: #222;
  border-right: borderBasicDark;
  color: #aaa;
  > div {
    width: 100%;
    height: 100%;
    position: relative;
    // This is for animation

    > ul {
      width: 100%;
      transition: 0.25s ease-in-out;
      &.hidden {
        margin-left: 100%;
      }
      // Make the immediate child 100% height so only its contents scroll
      height: 100%;
      overflow: auto;
    }
  }
  .controls {
    width: 100%;
    position: absolute;
    z-index: 1;
    border-top: borderBasicMedium;
    border-bottom: borderBasicDark;
    background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  .sort {
    top: 0;
    padding: 0 6px;
    line-height: 30px;
  }
  .actions {
    bottom: 0;
    padding: 6px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 6px;
      text-shadow: 0 1px 0 #222;
      margin: 0;
      border-top: borderBasicMedium;
      border-bottom: borderBasicDark;
      background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
      cursor: pointer;
      &.active {
        border-right: 3px solid colorDrakerOrange;
        transition:.2s;
        > .label {
          font-weight: bold;
          color: #fff;
          transition:.2s;
        }
      }
      &.empty {
        background: none;
        border: none;
        font-style: italic;
        box-shadow: none;
        cursor: default;
        &:hover {
          background: none;
        }
      }
      h3 {
        margin: 0 0 6px;
        white-space: nowrap;
        overflow: ellipsis;
        font-size: 1.25em;
        font-weight: 100;
        color: #eee;
      }
      &:hover {
        background: linear-gradient(colorSoftGradientGreyHoverStop, colorSoftGradientGreyHoverStart);
      }
      &:first-child {
        border-top: none;
      }
    }
  }
  ul.portfolio-list, ul.project-list {
    // Add padding so sort/new doesn't cover up an item
    padding-top: 30px;
    padding-bottom: 38px;
    li {
      ul {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style-type: none;
        li {
          background-position: left center;
          background-repeat: no-repeat;
          border: none;
          padding: 0 0 0 12px;
          margin: 0 12px 0 0;
          float: left;
          &.projects {
            background-image: url(../../img/icon_project_9x12.png);
          }
          &.DCCapacity {
            background-image: url(../../img/icon_energy_12x12.png);
            padding: 0 0 0 15px;
          }
        }
      }
      h3 {
        .statusIndicator {
          margin: 2px 6px 0 0;
        }
      }
    }
  }
  ul.issues-list {
    li {
      overflow: ellipsis;
      .statusIndicator {
        margin-right: 6px;
      }
    }
  }
  > div.devices {
    > ul {
      height: auto;
    }
    ul {
      border: none;
      background: none;
      li {
        width: 100%;
        position: relative;
        background: none;
        border: none;
        padding: 0 0 0 15px;
        > div {// Animation stuffs
          > ul {
            height: 0;
            overflow: hidden;
            transition: all 1s ease-in-out;
          }
        }
        &.expanded {
          > div {// Animation stuffs
            > ul {
              max-height: 10000px; // Not sure, at the moment, why this makes it work but it does
              height: auto;
              transition: all 1s ease-in-out;
            }
          }
          > .label > .expand {
            background: url(../../img/icon_collapse.png) right center no-repeat;
          }
        }
        &.active {
          > .label {
            opacity: 1;
            border-right: 3px solid colorDrakerOrange;
          }
        }
        &.Array, &.Inverter {
          padding: 0;
          background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
          > .label {
            border-top: borderBasicMedium;
            border-bottom: borderBasicDark;
          }
        }
        &.Array {
          >.label {
            background-image: url(../../img/icon_array.png);
          }
        }
        &.Inverter {
          >.label {
            background-image: url(../../img/icon_inverter.png);
          }
        }
        &.Meter {
          >.label {
            background-image: url(../../img/icon_meter.png);
          }
        }
        &.Combiner, &.Recombiner, &.Bus {
          >.label {
            background-image: url(../../img/icon_combiner.png);
          }
        }
        &.String {
          >.label {
            background-image: url(../../img/icon_string.png);
          }
        }
        &.Panel {
          >.label {
            background-image: url(../../img/icon_panel.png);
          }
        }
        .label {
          color: #fff;
          padding: 0 0 0 18px;
          line-height: 30px;
          //border-top: borderBasicMedium;
          //border-bottom: borderBasicDark;
          //background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
          background-position: 3px center;
          background-repeat: no-repeat;
          opacity: 0.66;
          .expand {
            background: url(../../img/icon_expand.png) right center no-repeat;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0 30px 0 0;
            text-indent: -9999px;
            overflow: hidden;
            border-left: 1px dotted #202020;
          }
          &:hover {
            opacity: 1;
            //background: linear-gradient(colorSoftGradientGreyHoverStop, colorSoftGradientGreyHoverStart);
            transition: all 0.2s ease-in-out;
            > .expand {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* Detail View */

#page {
  // Force overflow hidden to prevent any chance of doubled scroll bars
  position: absolute;
  top: 0;
  overflow: hidden;
  padding-top: 0;
  height: 100%;
  width: 100%;
  padding-top: headerHeight + pageNavHeight + 4; // 4 is for body border-top
  &.withBanner {
    padding-top: bannerHeight + headerHeight + pageNavHeight + 4;
  }
  > div { // This is an artifact of how Backbone/Marionette views work
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .basicView {
    padding: 15px;
  }
  #page-admin, #page-devices {
    .column_right {
      padding: 6px;
    }
    .documents {
      ul {
        list-style-type: none;
        border: 1px #444 solid;
        background: #202020;
        margin: 0 0 6px;
        overflow: hidden;
        padding: 6px;
        li {
          margin: 0 0 6px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

#page-projectsAdmin {
  padding-top: 200px;

  .project-map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    min-width: 800px;
  }

  .geosearch {
    position: absolute;
    top: 12px;
    width: 100%;

    .leaflet-control {
      width: 40%;
      margin 0 auto;
      float: none;
      border-radius: 4px;
    }

    input {
      width: 100%;
      height: 28px;
      padding: 0;
      text-indent: 6px;
      border-radius: 4px;
      border: none;
    }
  }
}

#page-equipmentAdmin {

  .navigation-admin-list {
    .title {
      cursor: pointer;

      &:after {
        content: "\f0d7"
        font-family: FontAwesome;
        padding: 0 3px;
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      top: projectTableHeaderHeight;

      ul {
        display: inherit;
        position: static;
        padding: 6px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);

        > li {
          padding: 0;
          margin: 0;
          border: none;
          font-size: inherit;
        }
      }

      a {
        display: block;
        padding: 0 6px;
        text-decoration: none;
        color: colorPrimaryText;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#page-projectsAdmin,
#page-equipmentAdmin {
  min-width: 800px;
  max-width: 1200px;
  height: 100%;
  margin: -6px;

  > div {
    float: left;
    width: 50%;
    min-width: 400px;
    height: 100%;
  }

  .project-detail,
  .equipment-detail {
    padding: 12px;
    overflow-y: auto;

    fieldset {
      padding: 12px;

      & > div {
        float: left;
        width: 50%;
        padding-left: 12px;

        &:first-child {
          padding-left: 0;
        }
      }

      label {
        display: block;
      }

      input, textarea {
        width: 100%;
        margin: 3px 0 12px 0;

        &.invalid {
          background: pink;
        }
      }
    }
  }
}

#page-projectEditor {
  position: relative;
  background: #bbb;

  > div {
    height: 100%;
  }

  #overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    background: colorBGDarkGrey;
    border-left: primaryBorderStyle;
    opacity: 0.8;


    .lock-message {
      width: 100%
      text-align: center;
      color: colorDrakerOrange;
      border-bottom: 0;
    }
  }

  #editor > div {
    border-top: borderBasicMedium;
    border-bottom: borderBasicDark;
    padding: 12px;

    &:first-child {
      border-top: none;
    }

    h3 {
      font-size: 1.25em;
      text-shadow: 0 1px 0 #222;
      color: colorDrakerOrange;
    }

    input {
      width: 275px;
      border-radius: 3px;
      color: grey;

      &:focus {
        color: black;
      }

      &:disabled {
        background-color: #bbb;
      }
    }
  }

  .editorDropdown {
    display: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    position: absolute;
    width: 275px;
    border-radius: 4px;
    border-bottom: borderBasicDark;
    background-color: white;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: auto;
      max-height: 400px;

      > li {
        padding: 0;
        margin: 0;
      }
    }

    a {
      display: block;
      padding: 6px;
      border-radius: 3px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: colorDrakerOrange;
      }
      &.all {
        font-weight: bold;
      }
    }
  }

  #content {
    padding-right: 300px;
  }

  #notes {
    height: 100%;

    textarea {
      width: 100%;
      height: 100%;
      padding: 12px;
      background-color: transparent;
      font-size: 1.25em;
      line-height: 1.5em;
      border: none;
      resize: none;
      outline: none;
    }
  }

  #device-table{
    height: 100%;
    overflow: auto;
    color: black;

    th {
      font-weight: bold;
      background-color: transparent;
      border-color: black;
    }

    tr .htDimmed {
      color: inherit;
      font-style: inherit;
    }

    td {
      background-color: rgba(255, 255, 255, 0.8);
      border-color: black;

      .htAutocompleteArrow {
        color: #bbb;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }
    }
  }
}

/* HOT */

ul.handsontableDropdown {
  position: absolute;
  top: 0;
  left: 2px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;

  li {
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding-left: 2px;
      line-height: 21px;
      font-size: 12px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: colorDrakerOrange;
      }
    }
  }
}

/* Module styles */

.module {
  &.issues {
    table {
      width: 100%;
      border: none;
      thead {
        tr {
          th:first-child {
            width: 24px;
          }
        }
      }
      tbody {
        tr {
          cursor: pointer;
          border-bottom: 1px solid #202020;
          td {
            &.status {
              width: 24px;
            }
          }
        }
      }
    }
    > div {
      background: colorBGDarkGrey;
      position: relative;
      height: 100%;
      border: borderBasicDark;
      .actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 6px;
        border-top: borderBasicMedium;
        background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
        a {
          text-decoration: none;
        }
      }
    }
  }
  &.kpis {
    .energyMetrics {
      overflow: hidden
      border-bottom: borderBasicMedium;
      padding: 0 0 18px;
      margin: 0 0 18px;
      .metric {
        float: left;
        width: 33%;
        .label {
          white-space: nowrap;
          overflow: ellipsis;
          font-size: 12px;
          color: #999;
          margin: 0 0 6px;
        }
        .value {
          font-size: 1.5em;
          .unit {
            color: #999;
            font-size: 12px;
          }
        }
      }
    }
    .snapshots {
      .snapshot {
        overflow: hidden;
        width: 100%;
        margin: 0 0 12px;
        .label {
          width: 25%;
          line-height: 24px;
          float: left;
          font-weight: bold;
        }
        .value {
          width: 25%;
          line-height: 24px;
          float: left;
          .unit {
            color: #999;
            font-size: 12px;
          }
        }
        .indicator {
          height: 24px;
          width: 50%;
          float: left;
          .bar {
            height: 8px;
            background: #444;
            span {
              transition: width 0.5s;
              background: #7fbfff;
              display: block;
              height: 8px;
            }
          }
          .legend {
            font-size: 10px;
            color: #999;
            .min {
              float: left;
            }
            .max {
              float: right;
            }
          }
        }
      }
    }
  }
}

.sitemap {
  position: relative;
  .deviceInfoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    .deviceInfo {
      height: 100%;
      width: 100%;
      background: rgba(1, 1, 1, .5);
      transition: .25s ease-in-out;
      margin-left: -100%;
      padding: 6px;
      &:hover {
        background: rgba(1, 1, 1, .85);
        transition: .25s ease-in-out;
      }
      h4 {
        float: left;
        margin: 0 0 6px;
        padding: 0;
      }
      .close {
        float: right;
      }
      hr {
        height: 1px;
        background: #777;
        clear: both;
        border: none;
      }
      .content {

      }
    }
  }
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 12px;
    color: #111;
    ul {
      padding: 0;
      margin: 0 12px 0 0;
      list-style-type: none;
      li {
        float: left;
        padding: 0;
        margin: 0 12px 0 0;
        cursor: pointer;
      }
    }
  }
}
