@import '../shared';
@import 'nib';
@import 'nib/gradients';

/* ==========================================================================
   Portfolio Styles
   ========================================================================== */

html, body, body > div {
  height: 100%;
}

/* Main components */

primaryBorderStyle = borderBasicDark;

header {
  background: colorBGDarkGrey;
  height: headerHeight;
  width: 100%;
  overflow: hidden;
  padding: 0 6px;
  border-bottom: borderBasicDark;
  position: relative;
  z-index: 201;
  h1 {
    padding: 0;
    margin: 0;
    float: left;
    background: url(../img/logo_draker_sml_wShadow.png) center center no-repeat;
    display: inline-block;
    width: 183px;
    height: headerHeight;
    line-height: headerHeight;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%
      height: 100%;
      text-indent: -200%;
    }
  }
  nav.global {
    float: right;
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-shadow: 0 0 1px #000;
    font-size: .85em;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: headerHeight
      line-height: headerHeight;
      li {
        padding: 0;
        float: left;
        border-left: borderBasicDark;
        border-right: 1px solid #292929;
        &.team_select {
          padding: 0 9px;
        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        a {
          display: block;
          text-decoration: none;
          padding: 0 9px;
          margin: 0;
          &:hover {
            background: #252525;
          }
        }
      }
    }
  }
}

.banner {
  .notification {
    background: linear-gradient(#f8f356, #DFD85C);
    color: #555;
    height: bannerHeight;
    line-height: bannerHeight;
    padding: 0 6px;
    text-shadow: 0 1px 0 #f8f356;
    position: relative;
    z-index: 100;
    .actions {
      float: right;
    }
  }
}

.nav_page {
  width: 100%;
  height: pageNavHeight;
  line-height: pageNavHeight;
  position: relative;
  z-index: 201;
  padding: 0 6px;
  margin:0;
  background: colorBGDarkGrey;
  background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
  border-top: borderBasicMedium;
  border-bottom: borderBasicDark;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 1px #000;
  .breadcrumbs {
    float:left;
    ul.breadcrumbs {
      padding: 0;
      margin: 0;
      list-style-type: none;
      float: left;
      line-height: pageNavHeight - 2px;
      li {
        background: url(../../img/arrow_breadcrumbs.png) right center no-repeat;
        float: left;
        padding: 0 15px 0 0;
        margin: 0 6px 0 0;
        cursor: pointer;
        &:hover {
          transition:.5s;
          color: #fff;
        }
        &.active, &:last-child {
          color: #fff;
          font-weight: bold;
          background: none;
        }
      }
    }
  }
  .dropdown.settings {
    width: 30px;
    height: pageNavHeight - 2px;;
    background: url(../img/icon_settings.png) center center no-repeat;
    opacity: .25;
    display: none;
    &.active {
      display: inherit;
    }
    &:hover {
      background-color: colorDropDownBG;
      opacity: 1;
    }
  }
}

// NOTE - This could use a massive clean up after getting all of the nav views unified
.nav_content {
  height: 100%;
  position: relative;
  z-index: 200;
  background: colorBGDarkGrey;
  border-right: borderBasicDark;
  color: #aaa;
  > div {
    width: 100%;
    transition: 0.25s ease-in-out;
    height: 100%;
    position: relative;
    &.hidden {
      margin-left: 100%;
    }
  }
  .sort {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 0 6px;
    line-height: 30px;
    background: #f00;
    border-top: borderBasicMedium;
    border-bottom: borderBasicDark;
    background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  .actions {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: 6px;
    border-top: borderBasicMedium;
    border-bottom: borderBasicDark;
    background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    overflow: auto;
    > li {
      padding: 0px;
      text-shadow: 0 1px 0 #222;
      margin: 0;
      border-top: borderBasicMedium;
      border-bottom: borderBasicDark;
      background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
      cursor: pointer;
      a {
        display: block;
        padding: 6px;
        text-decoration: none;
      }
      &.active {
        > a {
          border-right: 3px solid colorDrakerOrange;
          color: colorPrimaryText;
          transition:.2s;
        }
      }
      &.empty {
        background: none;
        border: none;
        padding: 6px;
        font-style: italic;
        box-shadow: none;
        cursor: default;
        &:hover {
          background: none;
        }
      }
      &.nav-item {
        padding: 6px;
        h3 {
          margin: 0 0 6px;
          white-space: nowrap;
          overflow: ellipsis;
          font-size: 1.25em;
          font-weight: 100;
          color: #eee;
        }
        ul {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          overflow: hidden;
          list-style-type: none;
          li {
            background-position: left center;
            background-repeat: no-repeat;
            border: none;
            padding: 0 0 0 12px;
            margin: 0 12px 0 0;
            float: left;
            &.projects {
              background-image: url(../../img/icon_project_9x12.png);
            }
            &.subPortfolios {
              background-image: url(../../img/icon_portfolio_12x9.png);
              padding: 0 0 0 15px;
            }
            &.DCCapacity {
              background-image: url(../../img/icon_energy_12x12.png);
              padding: 0 0 0 15px;
            }
          }
        }
      }
      &:hover {
        background: linear-gradient(#252627, #282828);

      }
      &:first-child {
        border-top: none;
      }
    }
  }
  ul.portfolio-list, ul.project-list {
    // Add padding so sort/new doesn't cover up an item
    padding-top: 30px;
    padding-bottom: 38px;
    > .active {
      border-right: 3px solid colorDrakerOrange;
      color: colorPrimaryText;
      transition:.2s;
    }
  }
  ul.issues-list {
    li {
      overflow: ellipsis;
      span.statusIndicator {
        margin-right: 6px;
      }
    }
    > .active {
      border-right: 3px solid colorDrakerOrange;
      color: colorPrimaryText;
      transition:.2s;
    }
  }
  > div.devices {
    > ul {
      border: none;
      background: none;
      > li {
        > a {
          border-top: borderBasicMedium;
          border-bottom: borderBasicDark;
          background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
          &:hover {
            background: linear-gradient(#252627, #282828);
          }
        }
      }
      li {
        width: 100%;
        position: relative;
        background: none;
        border: none;
        > div {
          > ul {
            height: 0;
            overflow: hidden;
            transition: all 1s ease-in-out;
          }
        }
        &.expanded {
          > div {
            > ul {
              max-height: 10000px; // Not sure, at the moment, why this makes it work but it does
              height: auto;
              transition: all 1s ease-in-out;
            }
          }
          > a > .expand {
            background: url(../../img/icon_collapse.png) right center no-repeat;
          }
        }
        a {
          .expand {
            background: url(../../img/icon_expand.png) right center no-repeat;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 30px;
            height: 30px;
            padding: 0 30px 0 0;
            text-indent: -200%;
            overflow: hidden;
            border-left: 1px dotted #202020;
          }
          &:hover {
            > .expand {
              opacity: 1;
            }
          }
        }
      }
      ul {
        padding: 0 0 0 6px;
      }
    }
  }
}

/* Detail View */

#page {
  // Force overflow hidden to prevent any chance of doubled scroll bars
  position: absolute;
  top: 0;
  overflow: hidden;
  padding-top: 0;
  height: 100%;
  width: 100%;
  padding-top: headerHeight + pageNavHeight + 4; // 4 is for body border-top
  &.withBanner {
    padding-top: bannerHeight + headerHeight + pageNavHeight + 4;
  }
  > div { // This is an artifact of how Backbone/Marionette views work
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .basicView {
    padding: 15px;
  }
  #page-portfolioDetail {
    .verticalPane {
      &.top {
        height: 60%;
      }
      &.bottom {
        height: 40%;
      }
    }
    #map {
      width: 100%;
      height: 100%;
      padding: kpiHeight 0 0 0;
    }
    #kpis {
      background: colorBGDarkGrey;
      position: fixed;
      z-index: 100;
      width: 100%;
      padding: 0;
      height: kpiHeight;
      line-height: kpiHeight;
      overflow: hidden;
      background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
      //border-top: borderBasicMedium;
      border-bottom: borderBasicDark;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
      text-shadow: 0 1px 0 #000;
      ul {
        width: 100%;
        padding: 0 6px;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        li {
          margin: 0 6px;
          padding: 0;
          float: left;
          .value {
            font-weight: bold;
          }
          .unit {
            color: #999;
            font-size: .85em;
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
    #projects {
      .bg_tableHeader {
        width: 100%;
        height: projectTableHeaderHeight;
        position: fixed;
        z-index: 100;
        background: colorBGDarkGrey;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
        border-top: borderBasicMedium;
        border-bottom: borderBasicDark;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
      }
      table {
        border: none;
        width: 100%;
        margin: 0;
        border-bottom: borderBasicDark;

        thead {
          // Hack to push the table body contents visible
          // This seems to work better than putting it on the body
          border-bottom: projectTableHeaderHeight solid #222;
          tr {
            th {
              div {
                display: block;
                height: projectTableHeaderHeight;
                position: fixed;
                z-index: 101;
                white-space: nowrap;
                .unit {
                  font-weight: 100;
                  font-size: 12px;
                  color: #999;
                }
              }
            }
          }
        }
        tbody {

          tr {
            cursor: pointer;
            td {
              //width: 25%;
              //text-align: center;
              &.ACCapacity {
                min-width: 124px;
              }
              &.DCCapacity {
                min-width: 124px;
              }
            }
            td.name {
              text-align: left;
            }
          }
        }
      }
    }
  }
  #page-projectDetail {
    overflow: auto;
    .map, .devices {
      height: 400px;
      border-bottom: borderBasicDark;
    }
    .devices {
      background: #bbb;
      overflow: hidden;
    }
    .kpis {
      padding: 6px;
    }
    .toggleView {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      margin: 6px 0 0 10px;
      padding: 3px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 3px 3px rgba(0,0,0,0.1);
      border: 1px solid #aaa;
      font-size: .8em;
      color: #555;
      cursor: pointer;
      opacity: 0.6;
      transition:.2s;
      &:hover {
        opacity: 1;
        transition:.2s;
      }
    }
    .leaflet-container {
      .leaflet-control-zoom {
        margin-top: 42px;
      }
    }
  }
  #page-issues {
    .issueDetail {
      padding: 6px;
      .info {
        margin: 0 0 12px;
      }
    }
  }
  #page-admin, #page-devices {
    .column_right > div {
      height: 100%;
      padding: 6px;
    }
  }
}

#page-projectsAdmin {
  padding: 0 !important;

  .verticalPane {
    overflow: hidden;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  #geosearch {
    position: absolute;
    top: 12px;
    width: 100%;

    .leaflet-control {
      width: 40%;
      margin 0 auto;
      float: none;
      border-radius: 4px;
    }

    input {
      width: 100%;
      height: 28px;
      padding: 0;
      text-indent: 6px;
      border-radius: 4px;
      border: none;
    }
  }

  .verticalPane.bottom > .container {
    position: relative;
    float: left;
    height: 100%;

    &.left {
      width: 25%;
      padding: projectTableHeaderHeight 0 38px 0;
      border-right: borderBasicDark;

      .footer {
        text-align: right;

        .create {
          float: left;
        }

        .save, .cancel {
          display: none;
        }
      }
    }

    &.right {
      width: 75%;
    }

    .header {
      position: absolute;
      top: 0;
      width: 100%;
      height: projectTableHeaderHeight;
      z-index: 100;
      background: colorBGDarkGrey;
      background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
      border-top: borderBasicMedium;
      border-bottom: borderBasicDark;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 6px;
      padding-right: 0;
      border-top: borderBasicMedium;
      border-bottom: borderBasicDark;
      background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
    }
  }

  #projectList {
    height: 100%;
    overflow-y: auto;

    table {
      width: 100%;
      border: none;
      border-bottom: borderBasicDark;

      .actions {
        text-align: right;
      }
    }
  }

  #projectDetail {
    overflow-y: auto;

    .container {
      float: left;
      padding: 12px;

      &.left {
        clear: left;
      }
    }

    label {
      display: block;
    }

    input {
      width: 100%;
      margin: 3px 0 12px 0;

      &.invalid {
        background: pink;
      }
    }
  }
}

#page-projectEditor {
  position: relative;
  background: #bbb;

  > div {
    height: 100%;
  }

  #overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    background: colorBGDarkGrey;
    border-left: primaryBorderStyle;
    opacity: 0.8;


    #lock-message {
      width: 100%
      text-align: center;
      color: colorDrakerOrange;
      border-bottom: 0;
    }
  }

  #editor > div {
    border-top: borderBasicMedium;
    border-bottom: borderBasicDark;
    padding: 12px;

    &:first-child {
      border-top: none;
    }

    h3 {
      font-size: 1.25em;
      text-shadow: 0 1px 0 #222;
      color: colorDrakerOrange;
    }

    input {
      width: 275px;
      border-radius: 3px;
      color: grey;

      &:focus {
        color: black;
      }

      &:disabled {
        background-color: #bbb;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: auto;

      position: absolute;
      width: 275px;
      max-height: 400px;
      border-radius: 3px;
      border-bottom: borderBasicDark;
      background-color: white;

      > li {
        padding: 0;
        margin: 0;

        a {
          display: block;
          padding: 6px;
          border-radius: 3px;
          text-decoration: none;
          color: black;

          &:hover {
            background-color: colorDrakerOrange;
          }
        }
      }
    }
  }

  #notes {
    height: 100%;
    padding-right: 300px;

    textarea {
      width: 100%;
      height: 100%;
      padding: 12px;
      background-color: transparent;
      font-size: 1.25em;
      line-height: 1.5em;
      border: none;
      resize: none;
      outline: none;
    }
  }

  #device-table{
    height: 100%;
    overflow: auto;
    padding-right: 300px;
    color: black;

    th {
      font-weight: bold;
      background-color: transparent;
      border-color: black;
    }

    td {
      background-color: rgba(255, 255, 255, 0.8);
      border-color: black;

      &.htDimmed {
        color: black;
        font-style: normal;
      }

      .htAutocompleteArrow {
        color: #bbb;

        &:hover {
          color: black;
        }
      }
    }
  }
}

ul.handsontableDropdown {
  position: absolute;
  top: 0;
  left: 2px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;

  li {
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding-left: 2px;
      line-height: 21px;
      font-size: 12px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: colorDrakerOrange;
      }
    }
  }
}

/* New Portfolio */
.new-portfolio {
  background: colorBGDarkGrey;
  transition: transform 0.25s ease-in-out;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px #000;
  h3{
    font-size: 1.2em;
    border-bottom: 1px solid colorDrakerOrange;
    padding-bottom: 3px;
    span {
      float: right;
      cursor: pointer;
    }
  }
  ul {
    li {
      label {
        font-size: 0.9
        width: 60px;
        display: inline-block;
      }
      .filter-value {
        width: 30px;
      }
    }
  }
}

/* Module styles */

.module {
  &.issues {
    table {
      width: 100%;
      border: none;
      thead {
        tr {
          th:first-child {
            width: 24px;
          }
        }
      }
      tbody {
        tr {
          cursor: pointer;
          border-bottom: 1px solid #202020;
          td {
            &.status {
              width: 24px;
            }
          }
        }
      }
    }
    > div {
      background: colorBGDarkGrey;
      position: relative;
      height: 100%;
      border: borderBasicDark;
      .actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 6px;
        border-top: borderBasicMedium;
        background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
        a {
          text-decoration: none;
        }
      }
    }
  }
  &.kpis {
    .energyMetrics {
      overflow: hidden
      border-bottom: borderBasicMedium;
      padding: 0 0 18px;
      margin: 0 0 18px;
      .metric {
        float: left;
        width: 33%;
        .label {
          white-space: nowrap;
          overflow: ellipsis;
          font-size: 12px;
          color: #999;
          margin: 0 0 6px;
        }
        .value {
          font-size: 1.5em;
          .unit {
            color: #999;
            font-size: 12px;
          }
        }
      }
    }
    .snapshots {
      .snapshot {
        overflow: hidden;
        width: 100%;
        margin: 0 0 12px;
        .label {
          width: 25%;
          line-height: 24px;
          float: left;
          font-weight: bold;
        }
        .value {
          width: 25%;
          line-height: 24px;
          float: left;
          .unit {
            color: #999;
            font-size: 12px;
          }
        }
        .indicator {
          height: 24px;
          width: 50%;
          float: left;
          .bar {
            height: 8px;
            background: #444;
            span {
              background: #7fbfff;
              display: block;
              height: 8px;
            }
          }
          .legend {
            font-size: 10px;
            color: #999;
            .min {
              float: left;
            }
            .max {
              float: right;
            }
          }
        }
      }
    }
  }
}
