// Playing with google web fonts
//@import url("http://fonts.googleapis.com/css?family=News+Cycle");

// Stylus includes
@import 'shared';
@import 'nib';
@import 'nib/gradients';

/* ==========================================================================
   Misc Tweaks (sourced from https://github.com/h5bp)
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Core Styles
   ========================================================================== */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;  /* Firefox, other Gecko */
  box-sizing: border-box;     /* Opera/IE 8+ */
}

html {
  height: 100%;
}

body {
  background: colorBGDarkGrey;
  color: colorPrimaryText;
  font-size: 85%; /* Resets 1em to 12px */
  line-height: 1.25em;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 100;
  border-top: 4px solid colorDrakerOrange;
  height: 100%;
}

h1, h2, h3 {
  padding:0;
  margin: 0 0 12px;
  font-weight: normal;
}

/* Basic layout */

header {
  background: colorBGDarkGrey;
  height: headerHeight;
  width: 100%;
  overflow: hidden;
  padding: 0 6px;
  border-bottom: borderBasicDark;
  position: relative;
  z-index: 201;
  h1 {
    padding: 0;
    margin: 0;
    float: left;
    background: url(../img/logo_draker_sml_wShadow.png) center center no-repeat;
    display: inline-block;
    width: 183px;
    height: headerHeight;
    line-height: headerHeight;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%
      height: 100%;
      text-indent: -200%;
    }
  }
  nav.global {
    float: right;
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-shadow: 0 0 1px #000;
    font-size: .85em;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: headerHeight
      line-height: headerHeight;
      li {
        padding: 0;
        float: left;
        border-left: borderBasicDark;
        border-right: borderBasicMedium;
        &.team_select {
          padding: 0;
          border-right: none;
        }
        &.username {
          color: #fff;
          border-left: none;
          padding: 0 9px;
        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        a {
          display: block;
          text-decoration: none;
          padding: 0 9px;
          margin: 0;
          &:hover {
            background: #252525;
          }
        }
      }
    }
  }
}

/* Messages */

.message {
  border: 1px solid #aaa;
  background: #ccc;
  box-shadow: inset 0 1px 0 #ddd;
  color: #111;
  padding: 3px;
  border-radius: 1px;
  &.flash {

  }
  &.error {
    background: #FFC1B8;
    border-color: colorAlertRed;
  }
}

/* Buttons and Links */

button.button, a.button {
  background: #ddd;
  background-image: linear-gradient(#ddd, #bbb)
  display: inline-block;
  line-height: 22px;
  min-height: 22px; /* FireFox doesn't like line-height in its buttons */
  padding: 0 .75em;
  margin: 0 6px 0 0;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #aaa;
  color: #555;
  text-shadow: 0 1px 0 #eee;
  box-shadow: inset 0 1px 0 #eee;
  &.primary {
  background-color: colorDrakerOrange;
  background-image: linear-gradient(#f57a2a, #f0501c);
  border: 1px solid colorDrakerOrange;
  color: #fff;
  text-shadow: 0 1px 0 #d84515;
  box-shadow: inset 0 1px 0 #f8ad7c;
  }
  &.disabled,
  &.disabled:hover {
  border: 1px solid #ccc;
  background-color: #eee;
  background-position: 0 -600px;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  }
  &.sml {
  line-height: 16px;
  min-height: 16px; /* FireFox doesn't like line-height in its buttons */
  padding: 0 .75em;
  margin: 0 3px 0 0;
  font-size: .75em;
  vertical-align: text-bottom;
  border-radius: 2px;
  }
}

td .button {
  line-height: 16px;
  min-height: 16px; /* FireFox doesn't like line-height in its buttons */
  padding: 0 .75em;
  margin: 0 3px 0 0;
  font-size: .75em;
  vertical-align: text-bottom;
  border-radius: 2px;
}

a, a:active, a:hover, a:visited {
  color: colorDrakerOrange;
}

.buttons.container {
  margin: 0 0 12px;
}

/* Tables */

table.basic {
  background: colorBGDarkGrey;
  margin: 0 0 12px;
  padding: 0;
  border: borderBasicDark;
  thead {
  height: 24px;
  background: colorBGDarkGrey;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
  border-top: borderBasicMedium;
  border-bottom: borderBasicDark;
  tr {
    th {
    line-height: 24px;
    padding: 0 6px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 1px 0 #222;
    &:first-child {
      //border-left: none;
    }
    &:last-child {
      //border-right: none;
    }
    }
  }
  }
  tbody {
  color: #aaa;
  tr {
    border-bottom: 1px solid #202020;
    &:nth-child(odd) {
    background-color: colorBGMediumGrey;
    }
    &:hover {
    background-color: colorBGLightGrey;
    }
    &:last-child {
    border-bottom: none;
    }
    td {
    padding: 3px 6px;
    &.label {
      font-weight: bold;
    }
    }
  }
  }
  input[type="checkbox"],
  input[type="radio"] {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  }

  input:disabled {
    border: none;
    background: none;
    color: colorPrimaryText;
  }
}

td.status {
  width: 24px;
}

td.name {
  white-space: nowrap;
}

.statusIndicator {
  background: colorOKBlue;
  width: 12px;
  height: 12px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 0 #444;
  float: left;
  //margin: 0 auto;
  &.Warning {
    background: colorWarningYellow;
  }
  &.Alert {
    background: colorAlertRed;
  }
}


/* Forms */

form {
  margin: 0;
  padding: 0;
  ul {
    padding:0;
    margin:0 0 12px;
    overflow:hidden;
    li {
      padding:0;
      margin:0 0 .75em;
      &:last-child {
        padding:0;
        margin:0;
      }
      label {
        padding:0;
        margin:0;
        display:block;
      }
    }
  }
}

input[type="email"], input[type="password"], input[type="text"], input[type="password"], textarea {
  font-family:Helvetica, sans-serif;
  background:#fff;
  border:1px solid #111;
  line-height:20px;
  padding:3px;
}

input[type="checkbox"], input[type="radio"] {
  padding:0;
  margin:0;
  vertical-align: middle;
}

select[disabled], select:disabled {
  color: #555;
}

/* Misc Layout */

leftColumnWidth = 240px;

.column_left {
  width: leftColumnWidth;
  float: left;
  margin-left: -100%;
  height: 100%;
  overflow: auto;
}

.column_right {
  margin-left: leftColumnWidth;
  height: 100%;
  overflow: auto;
}

.column_right_wrapper {
  height: 100%;
  width: 100%;
  float: left;
}

.verticalPane {
  height: 50%;
  overflow: auto;
  border-bottom: primaryBorderStyle;
  position: relative;
}

.container {
  overflow: hidden;
  &.half {
    float: left;
    width: 50%;
  }
  &.module {
    overflow: hidden;
    padding:6px;
    height: 300px;
    &.half {
      float: left;
      width: 50%;
    }
    @media screen and (max-width: 1000px) {
      &.half {
        float: none;
        width: 100%;
      }
    }
  }
}



.dropdown {
  position: relative;
  &:hover {
    background-color: colorDropDownBG;
    ul {
      display: inherit;
    }
  }
  &#pageSettings {
    float:right;
  }
  ul {
    display: none;
    position: absolute;
    right: 0;
    top: 28px;
    padding: 0;
    margin: 0;
    z-index: 301;
    white-space: nowrap;
    background: colorDropDownBG;
    text-shadow: none;
    list-style-type: none;
    li {
      font-size: .85em;
      line-height: 24px;
      padding: 0 6px;
      border-bottom: 1px solid #404040;
      a {
        display: inline-block;
        width: 100%;
        line-height: 24px;
        color: #ccc;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* Baseline leaflet styles */

#leafletContainer {
  width: 100%;
  height: 100%;
  background: #B5D0D0 url(loadingIcon) center center no-repeat;
  // Map View Icons
  .leaflet-marker-icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 15px;
    height: 32px;
    &.ok {
      background-image: url(../img/marker_ok.png);
    }
    &.warning {
      background-image: url(../img/marker_warning.png);
    }
    &.alert {
      background-image: url(../img/marker_alert.png);
    }
  }
}


/* Charts */

.chart {
  height: 300px;
  width: 100%;
}

/* Admin */

.admin-list {
  background: colorBGDarkGrey;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      padding: 5px;
      text-shadow: 0 1px 0 #222;
      cursor: pointer;
      border-top: borderBasicMedium;
      border-left: borderBasicMedium;
      border-bottom: borderBasicDark;
      border-right: borderBasicDark;
      background: linear-gradient(colorSoftGradientGreyStart, colorSoftGradientGreyStop);
      &:hover {
        background: linear-gradient(#252627, #282828);
      }
    }
  }
}
