@import "normalize";
@import "print";
@import "shared";

/* ==========================================================================
   Misc Tweaks (sourced from https://github.com/h5bp)
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Core Styles
   ========================================================================== */

colorDrakerOrange = #F26322;

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;        /* Opera/IE 8+ */
}

body {
  background: #efefef;
  color:#222;
  font-size: 85%; /* Resets 1em to 12px */
  line-height:1.25em;
  font-family: Arial, Verdana, Sans-Serif;
}

/* Basic layout */

header {
  background:#333;
  height:36px;
  width:100%;
  overflow:hidden;
  padding:0 6px;
  h1 {
    padding:0;
    margin:0;
    float:left;
    background: url(/public/img/logo_draker_sml.png) center center no-repeat;
    display:inline-block;
    text-indent:-200%;
    width:183px;
    height:36px;
    line-height:36px;
    overflow:hidden;
  }
  nav.global {
    float:right;
    color:#fff;
    padding:0;
    margin:0;
    ul {
      list-style-type:none;
      padding:0;
      margin:0;
      height:36px
      line-height:36px;
      li {
        margin:0 0 0 6px;
        padding:0;
        float:left;
        a {
          padding:0;
          margin:0;
        }
      }
    }
  }
}

/* Messages */

.message.flash {
  border: 1px solid #aaa;
  background: #ccc;
  box-shadow: inset 0 1px 0 #ddd;
  color: #111;
  padding: 3px;
  border-radius:1px;
}

/* Buttons and Links */

button.button, a.button {
  background:#ddd;
  background-image: linear-gradient(#ddd, #bbb)
  display:inline-block;
  line-height:22px;
  min-height:22px; /* FireFox doesn't like line-height in its buttons */
  padding:0 .75em;
  margin:0 6px 0 0;
  font-size:1em;
  font-weight:normal;
  text-decoration:none;
  cursor:pointer;
  border-radius:3px;
  text-align:center;
  border:1px solid #aaa;
  color:#555;
  text-shadow:0 1px 0 #eee;
  box-shadow: inset 0 1px 0 #eee;
}

button.button.primary, a.button.primary {
  background-color:colorDrakerOrange;
  background-image: linear-gradient(#f57a2a, #f0501c);
  border:1px solid colorDrakerOrange;
  color:#fff;
  text-shadow:0 1px 0 #d84515;
  box-shadow: inset 0 1px 0 #f8ad7c;
}

button.button.disabled, a.button.disabled, button.button.disabled:hover, a.button.disabled:hover {
  border:1px solid #ccc;
  background-color: #eee;
  background-position:0 -600px;
  color:#999;
  text-shadow:0 1px 0 #fff;
}

button.button.sml, a.button.sml {
  line-height:16px;
  min-height:16px; /* FireFox doesn't like line-height in its buttons */
  padding:0 .75em;
  margin:0 3px 0 0;
  font-size:.75em;
  vertical-align:text-bottom;
  border-radius:9px;
}

a, a:active, a:hover, a:visited {
  color: colorDrakerOrange;
}
