// Helpers
@import 'normalize';
@import 'print';

// Core styles
@import 'core';

// Section styles
@import 'sections/login';
@import 'sections/main';
@import 'sections/admin';
@import 'sections/projects';
@import 'sections/alarms';
@import 'sections/dashboard';
