/* Colors */
colorDrakerOrange = #F26322;

colorOKBlue = #2880CA;
colorWarningYellow = #DFD85C;
colorAlertRed = #C94D1E;

colorPrimaryText = #ccc;

colorBGDarkGrey = #232323;
colorBGMediumGrey = #252525;
colorBGLightGrey = #282828;

colorSoftGradientGreyStart = #252525;
colorSoftGradientGreyStop = #232425;

colorDropDownBG = #444;

/* Borders */
borderBasicDark = 1px solid #171717;
borderBasicMedium = 1px solid #333;

/* Shadows */
basicBoxShadow = 0 3px 3px rgba(0, 0, 0, .25);

/* Images */
loadingIcon = '/public/img/icon_loading.gif';

/* Share el sizes */

headerHeight = 42px;
pageNavHeight = 30px;
bannerHeight = 30px;
