<header id="header">

</header>
<navigation id="mainNavigation">
  <ul>
    <li>Users</li>
  </ul>
</navigation>
<section>
  <navigation id="contentNavigation">
    Here be some Nav.
  </navigation>
  <section id="content">
    No Content
  </section>
</section>
<footer id="footer">
  Adamantium is the bestest.
</footer>