<header id="header">

</header>
<nav id="mainNavigation">
</nav>
<section>
  <nav id="contentNavigation">
    Here be some Nav.
  </nav>
  <section id="content">
    No Content
  </section>
</section>
<footer id="footer">
  Adamantium is the bestest.
</footer>
