<header id="header">
  No Header
</header>
<nav id="nav_page">
  <ul class="breadcrumbs">
    <li><a href="#portfolios-all" class="setPortfolio">All Portfolios</a></li>
    <li class="active"><a href="#portfolios-1" class="setPortfolio">Portfolio 1</a></li>
  </ul>
</nav>
<section class="contentContainer">
  <nav id="nav_content">
    No Nav
  </nav>
  <section id="content">
    No Content
  </section>
</section>
