<header id="header">
  No Header
</header>
<nav id="nav_page">
  Page Nav
</nav>
<section class="contentContainer">
  <div class="column_right_wrapper">
    <section id="content" class="column_right">
      No Content
    </section>
  </div>
  <nav id="nav_content" class="column_left">
    No Nav
  </nav>
</section>
