<div class="column_right_wrapper">
  <div class="column_right">
    <div class="pageContent"></div>
  </div>
</div>
<nav class="column_left nav_content">
  <ul>
    {{{ admin_navigation }}}
  </ul>
</nav>
