<h1><a href="#" class="home">Intelligent Array</a></h1>
<nav id="nav_global" class="global">
  <ul>
    <li class="username">{{$ 'Hi' }}, {{ name }}!</li>
    {{#if role.header.showAdmin }}<li><a href="#admin" class="admin">{{$ 'Admin' }}</a></li>{{/if}}
    <li><a href="#profile" class="profile">{{$ 'My Profile' }}</a></li>
    <li><a href="#logout" class="logout">{{$ 'Logout' }}</a></li>
  </ul>
</nav>
