<header id="header">
  No Header
</header>
<section class="banner"></section>
<nav class="nav_page">
  <div class="breadcrumbs"></div>
  <div id="pageSettings" class="dropdown settings"></div>
</nav>
<section id="page"></section>
