<header id="header">
  No Header
</header>
<section id="banner"></section>
<nav id="nav_page">
  <div id="breadcrumbs"></div>
  <div id="pageSettings" class="dropdown settings"></div>
</nav>
<section id="page" class="contentContainer"></section>
