<header id="header">
  No Header
</header>
<div id="notificationBanner"></div>
<nav id="nav_page">
  <div id="breadcrumbs"></div>
  <div id="pageSettings" class="settingsList"></div>
</nav>
<section id="page" class="contentContainer">

</section>
