<header id="header">
  No Header
</header>
<div id="notificationBanner"></div>
<nav id="nav_page">
  <div id="breadcrumbs"></div>
  <div id="pageSettings" class="settingsList">
  	<ul>
  		<li><a href="#edit">Edit this thing</a></li>
  		<li><a href="#edit">Edit another thing</a></li>
  	</ul>
  </div>
</nav>
<section id="page" class="contentContainer">

</section>
