<header id="header">
  No Header
</header>
<section class="banner"></section>
<nav class="nav_page">
  <div class="breadcrumbs"></div>
  <ul class="settings"></ul>
</nav>
<section id="page"></section>
