<div class="column_right_wrapper">
  <section class="column_right">
    <div id="dashboard">
  		<span class="loadingIndicator"></span>
    </div>
  </section>
</div>
<nav class="column_left nav_content">
  <span class="loadingIndicator"></span>
</nav>
