<div class="column_right_wrapper">
  <section class="column_right">
    <div class="verticalPane top">
      <div id="kpis"><span class="loadingIndicator"></span></div>
      <div id="map"><span class="loadingIndicator"></span></div>
    </div>
    <div class="verticalPane bottom">
      <div id="projects"><span class="loadingIndicator"></span></div>
    </div>
  </section>
</div>
<nav class="column_left nav_content">
  <span class="loadingIndicator"></span>
</nav>
