<div class="column_right_wrapper">
  <section class="column_right">
    <div class="map">Map</div>
    <div class="moduleContainer half kpis">
      KPIs
    </div>
    <div class="moduleContainer half issues">
      Issues
    </div>
    <div id="powerHistory" class="moduleContainer half chart">
      Chart
    </div>
    <div id="healthAndSoiling" class="moduleContainer half chart">
      Chart
    </div>
  </section>
</div>

<nav class="column_left nav_content">
  Content Nav
</nav>
