<div id="map" class="map"></div>
<div class="container">
  <div id="kpis" class="left">KPIs</div>
  <div id="issues" class="right">Issues</div>
</div>
<div class="container">
  <div id="chart_powerHistory" class="left">Chart</div>
  <div id="chart_healthAndSoiling"class="right">Chart</div>
</div>
<div class="btnContainer"><button class="button edit">Edit</button></div>
