<div class="column_right_wrapper">
  <section class="column_right">
    <div class="map">Map</div>
    <div class="moduleContainer half">
      <div class="kpis">KPIs</div>
    </div>
    <div class="moduleContainer half">
      <div class="issues">Issues</div>
    </div>
    <div class="moduleContainer half">
      <div id="powerHistory" class="chart">Chart</div>
    </div>
    <div class="moduleContainer half">
      <div id="healthAndSoiling" class="chart">Chart</div>
    </div>
  </section>
</div>

<nav class="column_left nav_content">
  Content Nav
</nav>
