<div class="column_right_wrapper">
  <section class="column_right">
    <div class="map">Map</div>
    <div class="devices">Devices</div>
    <div class="toggleView">Toggle Map View</div>
    <div class="module container half kpis">
      <span class="loadingIndicator"></span>
    </div>
    <div class="module container half issues">
      <span class="loadingIndicator"></span>
    </div>
    <div id="powerHistory" class="module container half chart">
      <span class="loadingIndicator"></span>
    </div>
    <div id="healthAndSoiling" class="module container half chart">
      <span class="loadingIndicator"></span>
    </div>
  </section>
</div>

<nav class="column_left nav_content">
  <span class="loadingIndicator"></span>
</nav>
