<div id="map" class="map"></div>
<div class="moduleContainer half">
  <div id="kpis" class="left">KPIs</div>
</div>
<div class="moduleContainer half">
  <div id="issues" class="right">Issues</div>
</div>
<div class="moduleContainer half">
  <div id="chart_powerHistory">Chart</div>
</div>
<div class="moduleContainer half">
  <div id="chart_healthAndSoiling">Chart</div>
</div>
<div class="btnContainer"><button class="button edit">Edit</button></div>
