<h3>{{name}}</h3>
<div class="container half admin-list"><h4>Current {{name }} Members</h4><div id="currentMembers"></div></div>
<div class="container half admin-list"><h4>Organization Members</h4><div id="allUsers"></div></div>
