@import "../shared";

/* ==========================================================================
   Login Styles
   ========================================================================== */

body {
  border-top:4px solid colorDrakerOrange;
}

section.login {
  width:360px;
  height:240px;
  position:fixed;
  top:50%;
  left:50%
  margin:-180px 0 0 -180px;
  h1 {
    background: url(/public/img/logo_draker_lrg.png) 0 0 no-repeat;
    display:inline-block;
    text-indent:-200%;
    width:300px;
    height:40px;
    overflow:hidden;
  }
  form {
    width:360px;
    display: inline-block;
    background: #fff;
    background-image: linear-gradient(#fff 85%, #efefef);
    border: 1px solid #222;
    border-radius: 4px;
    box-shadow: basicBoxShadow, inset 0 -1px 0 #fff;
    padding:18px;
    margin: 0;

    .message {
      margin: 0 0 12px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        padding: 0;
        margin: 0 0 12px;
        label {
          width:100%;
          color: #555;
        }
        input {
          width:100%;
          font-size: 1.25em;
          color: #555;
        }
      }
      li:last-child {
        margin:0;
      }
    }
  }
}
