@import "../shared";

/* ==========================================================================
   Portfolio Styles
   ========================================================================== */

html, body {
  height: 100%;
}

pageNavHeight = 30px;

#nav_page {
  background: #aaa;
  height: pageNavHeight;
  width: 100%;
  overflow: hidden;
  line-height: pageNavHeight;
  padding: 0 6px;
  margin:0;

  ul.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;

    li {
      float: left;
      margin: 0 6px;
      color: #555;
      cursor: pointer;

      a:hover {
        text-decoration: underline;
      }
    }
    li.active, li:last-child {
      color: #111;
    }
  }
}

.contentContainer {
  height: 500px;
  overflow: hidden;

  #nav_content {
    border-right: 1px solid #aaa;
    overflow: auto;
    height: 100%;
    .back {
      cursor: pointer;
    }
    .all {
      cursor: pointer;
    }
    ul.portfolios {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li.portfolio {
        border-top: 1px solid #aaa;
        padding: 3px;
        margin: 0;
        cursor: pointer;
        h3 {
          margin: 0px;
          white-space: nowrap;
          overflow: ellipsis;
        }
      }
    }
    .portfolio:hover {
      background: #ccc;
    }
    .portfolio:last-child {
      border-bottom: 1px solid #aaa;
    }
  }

  #content {
    //border: 1px solid #f00;
    overflow: auto;
    height: 100%;
    position: relative;
    > div { // This is an artifact of how Backbone/Marionette views work
      height: 100%;
      max-height: 100%;
      overflow: hidden;
    }
    .verticalPane {
      height: 50%;
      min-height: 50%;
      overflow: auto;
      border-bottom: 1px solid #ccc;
      position: relative;
    }

    #map_view {
      width: 100%;
      height: 100%;
      padding: 24px 0 0 0;
      #leafletContainer {
        width: 100%;
        height: 100%;
      }
    }

    #kpis {
      background: #ddd;
      position: fixed;
      z-index: 100;
      width: 100%;
      padding: 0 3px;
      height: 24px;
      line-height: 24px;
      border-bottom: 1px solid #ccc;
    }

    #projects {
      table {
        thead {
          position: fixed;
          width: 100%;
        }
        tbody {
          //OMG this is so hacky...
          border-top: 24px solid #fff;
        }
        border: none;
        width: 100%;
        margin: 0;
        height: 100%;
        overflow: auto;
        position: relative;
      }
    }
  }
}
