@import '../shared';

/* ==========================================================================
   Portfolio Styles
   ========================================================================== */

html, body {
  height: 100%;
}

/* Main components */

pageNavHeight = 30px;
primaryBorderStyle = 1px solid #222;

#nav_page {
  background: #333;
  background-image: linear-gradient(#3c3c3c, #313131);
  border-top: 1px solid #555;
  border-bottom: 1px solid #000;
  height: pageNavHeight;
  width: 100%;
  overflow: hidden;
  position: relative;
  line-height: pageNavHeight;
  padding: 0 6px;
  margin:0;

  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  z-index: 201;
  font-weight: 100;
  text-shadow: 0 0 1px #000;
  ul.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;

    li {
      background: url(../../img/arrow_breadcrumbs.png) right center no-repeat;
      float: left;
      padding: 0 15px 0 0;
      margin: 0 6px 0 0;
      color: #ccc;
      cursor: pointer;

      a:hover {
        text-decoration: underline;
      }
    }
    li.active, li:last-child {
      color: #fff;
      background: none;
    }
  }
}

.contentContainer {
  // Force overflow hidden to prevent any chance of doubled scroll bars
  overflow: hidden;
}

#nav_content {
  background: #333;
  border-right: primaryBorderStyle;
  overflow: auto;
  height: 100%;
  position: relative;
  z-index: 200;
  color: #aaa;
  .back {
    cursor: pointer;
  }
  .all {
    cursor: pointer;
  }
  ul.portfolios {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
    li.portfolio {
      border-top: 1px solid #444;
      border-bottom: 1px solid #222;
      background-image: linear-gradient(#323232, #313131);
      text-shadow: 0 -1px 0 #000;
      padding: 6px;
      margin: 0;
      cursor: pointer;
      h3 {
        margin: 0 0 6px;
        white-space: nowrap;
        overflow: ellipsis;
        font-size: 1.25em;
        font-weight: 100;
        color: #eee;
      }
    }
    .portfolio:hover {
      background-image: linear-gradient(#383838, #373737);
    }
    .portfolio:last-child {

    }
    .portfolio:first-child {
      border-top: none;
    }
  }
}

/* Detail View */

projectTableHeaderHeight = 24px;
kpiHeight = 30px;

#content {
  //border: 1px solid #f00;
  overflow: auto;
  height: 100%;
  position: relative;
  > div { // This is an artifact of how Backbone/Marionette views work
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .verticalPane {
    height: 50%;
    min-height: 50%;
    overflow: auto;
    border-bottom: primaryBorderStyle;
    position: relative;
  }

  #map_view {
    width: 100%;
    height: 100%;
    padding: kpiHeight 0 0 0;
    #leafletContainer {
      background: #B5D0D0 url(loadingIcon) center center no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  #kpis {
    background: #333;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0;
    height: kpiHeight;
    line-height: kpiHeight;
    overflow: hidden;
    background-image: linear-gradient(#3c3c3c, #313131);
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #000;
    color: #ccc;
    ul {
      padding: 0 6px;
      margin: 0;
      list-style-type: none;
      width: 100%;
      overflow: hidden;
      li {
        margin: 0 6px;
        padding: 0;
        float: left;
        .value {
          font-weight: bold;
        }
        .unit {
          color: #999;
          font-size: .85em;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }

  #projects {
    position: relative;
    .bg_tableHeader {
      width: 100%;
      height: projectTableHeaderHeight;
      position: fixed;
      z-index: 100;
      background: #333;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(#3c3c3c, #313131);
      border-top: 1px solid #444;
      border-bottom: 1px solid #222;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    }
    table {
      background: #333;
      thead {
        color: #ccc;
        tr {
          th {
            font-weight: normal;
            text-shadow: 0 -1px 0 #000;
            div {
              position: fixed;
              z-index: 101;
              height: projectTableHeaderHeight;
              display: block;
            }
          }
        }
      }
      tbody {
        color: #aaa;
        border-top: projectTableHeaderHeight solid #333;
        tr {
          border-bottom: 1px solid #3c3c3c;
        }
        tr:nth-child(odd) {
          background-color: #353535;
        }
      }
      border: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      margin: 0;
      height: 100%;
    }
  }
}
