body {
  background: #bbb;
}

nav {
  background: #fff;
  height: 36px;
  overflow: hidden;
  ul {
    clear: both;
    li {
      font-size: 20px;
      background: #eee;
      overflow: hidden;
      color: #333;
      float: left;
      padding: 4px 10px;
      margin-left: 30px;
      cursor: pointer;
    }
  }
}

#links {
  p {
    cursor: pointer;
  }
}