<td>
  <span class="lock-icon{{#if isEditable }} active{{/if}}" title="{{ editor }}">
  {{#if isLocked }}&#xf023;{{else}}&#xf09c;{{/if}}
  </span>

  {{#if hasImporting }}
  <span class="importing-icon{{#if isImporting }} active{{/if}}" title="{{ importing }}">&#xf0ec;</span>
  {{/if}}
</td>

<td>{{ display_name }}</td>

<td class="actions">
  <button type="button" class="button commission primary"{{#if isDisabled }} disabled="disabled"{{/if}}>{{$ 'Commission' }}</button>
  <button type="button" class="button model">{{$ 'Model' }}</button>
  <button type="button" class="button delete"{{#if isDisabled }} disabled="disabled"{{/if}}>{{$ 'Delete' }}</button>
</td>
