<td>{{ display_name }}</td>
<td class="actions">
  <span class="lock-icon" title="{{ editor }}">
  {{#if locked}}&#xf023;{{else}}&#xf09c;{{/if}}
  </span>
  <button type="button" class="button commission primary">{{$ 'Commission' }}</button>
  <button type="button" class="button model">{{$ 'Model' }}</button>
  <button type="button" class="button delete">{{$ 'Delete' }}</button>
</td>
