<div class="bg_tableHeader"></div>
<table class="basic">
  <thead>
    <tr>
      <th><div>{{$ 'Project Name' }}</div></th>
      <th><div>{{$ 'Status' }}</div></th>
      <th><div>{{$ 'DC Capacity' }} <span class="unit">(in kWH)</span></div></th>
      <th><div>{{$ 'AC Capacity' }} <span class="unit">(in kWH)</span></div></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>