<tr id="project_{{ projectId }}">
  <td class="name">
    {{ name }}
  </td>
  <td class="status"><span class="status {{ status }}">{{ status }}</span></td>
  <td class="DCCapacity">0</td>
  <td class="ACCapacity">0</td>
</tr>
