<h3>{{$ 'Connect To' }}</h3>
<form>
  <input id="connectField" name="connectField" type="text" value="{{$ 'Target' }}" />
  <button type="button" class="button primary">{{$ 'Apply' }}</button>
</form>
