<div id="view">
  <h3>{{$ 'View' }}</h3>
  <input id="viewField" name="viewField" type="text" class="nav" />
</div>

<div id="add">
  <h3>{{$ 'Add Device' }}</h3>
  <input id="addField" name="addField" type="text" value="{{$ 'Type' }}" />
</div>

<div id="connect">
  <h3>{{$ 'Connect To' }}</h3>
  <input id="connectField" name="connectField" type="text" value="{{$ 'Target' }}" />
</div>

<div id="disconnect">
  <h3>{{$ 'Disconnect From' }}</h3>
  <input id="disconnectField" name="disconnectField" type="text" value="{{$ 'Target' }}" />
</div>

<div id="import">
  <h3>{{$ 'Import From' }}</h3>
  <input id="importField" name="importField" type="text" value="{{$ 'Source' }}" />
</div>

<div class="lock"></div>
