<div class="sort">
  Sort by
  <select id="project-sort">
    <option value="display_name">{{$ 'Name' }}</option>
    <option value="dc_capacity">{{$ 'DC Capacity' }} &uarr;</option>
    <option value="-dc_capacity">{{$ 'DC Capacity' }} &darr;</option>
    <option value="statusValue">{{$ 'Alarm Status' }} &uarr;</option>
    <option value="-statusValue">{{$ 'Alarm Status' }} &darr;</option>
  </select>
</div>

<ul class="project-list"></ul>
