<div class="sort">
  Sort by
  <select id="project-sort">
    <option value="name">Name</option>
    <option value="dc_capacity">DC Capacity</option>
  </select>
</div>

<ul class="project-list">
</ul>
