<span class="indicator">{{ count }}</span>

<ul>
  <li>Bacon ipsum dolor sit amet spare ribs turkey t-bone pastrami bresaola.</li>
  <li>Bacon ipsum dolor sit amet spare ribs turkey t-bone pastrami bresaola.</li>
  <li>Bacon ipsum dolor sit amet spare ribs turkey t-bone pastrami bresaola.</li>
</ul>
