Edit Alarm {{ display_name }}

<button class="button addCondition sml">Add Condition</button>

<div class="conditionContainer"></div>

<div class="container">
  <button class="button primary">Save</button>
  <button class="button">Cancel</button>
</div>