<ul>
  <li>
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text" value="{{ firstName }}">
  </li>
  <li>
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text" value="{{ lastName }}">
  </li>
  <li>
    <label for="email">E-mail</label>
    <input id="email" name="email" type="email" value="{{ email }}">
  </li>
  <li><button type="submit" class="button primary">Save</button>
</ul>