<td>
  <input id="name" name="name" type="text" value="{{ name }}">
</td>
<td>
  <input id="email" name="email" type="email" value="{{ email }}">
</td>
<td>
  <input id="org_label" name="org_label" type="text" value="{{ org_label }}">
</td>
<td>
  <button type="button" class="button create primary">Create</button>
  <button type="reset" class="button">cancel</button>
</td>
