<div class="chart powerAndIrradiance"></div>
<div class="chart currentAndVoltage"></div>
<div class="chart children" style="display:none;"></div>
<div class="module container issues"></div>
<div class="documents container">
  <h3>Documents</h3>
  <ul>
    {{#if docs.length}}
      {{#each docs}}
        <li><a href="{{ url }}">{{ key }}</a></li>
      {{/each}}
    {{else}}
      <li>{{$ 'No documents' }}
    {{/if}}
  </ul>
</div>
