<div class="current"><span class="start">{{ date.start }}</span> to <span class="stop">{{ date.stop }}</span></div>
<div class="expand">▾</div>
<div class="calendar">
  <div class="selector"></div>
  <div class="actions">
    <button class="button sml primary set">Set Date</button>
    <button class="button sml cancel">Cancel</button>
  </div>
</div>