<div class="verticalPane top">
  <div id="kpis"><span class="loadingIndicator"></span></div>
  <div id="map"><span class="loadingIndicator"></span></div>
</div>
<div class="verticalPane bottom">
  <div id="projects"><span class="loadingIndicator"></span></div>
</div>