<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <title>Intelligent Array</title>

  <script type="text/javascript" data-main="/public/config.js" src="/public/components/require/require.js"></script>

  <script type="text/javascript">
    require.config({
      locale: '{{{ locale }}}'
    });

    require(['config'], function(){
      require(['app/init']);
    });
  </script>

  <script type="text/x-bootstrap" id="currentUserData">
    {{{ user }}}
  </script>

  <link rel="stylesheet" href="/public/css/core.css" media="screen">
  <link rel="stylesheet" href="/public/css/pages/main.css" media="screen">
</head>
<body id="ia"></body>
</html>
