<!DOCTYPE html>
<html>
<head>
  <title>Log In to Intelligent Array</title>

  {{> sharedHeader }}
</head>
<body>
  <section class="login">
    <h1>Draker</h1>
    <form name="login" action="/login" method="POST">
      {{#if flash }}
      <div class="message flash">
        {{ flash }}
      </div>
      {{/if}}
      <ul>
        <li><label for="username">Email:</label> <input id="username" name="username" type='email'></input></li>
        <li><label for="password">Password:</label> <input id="password" name="password" type="password"></input></li>
        <li><button class="button primary" type="submit">Login</button></li>
      </ul>
    </form>
  </section>
  <script type="text/javascript">
    document.login.username.focus();
  </script>
</body>
</html>
