<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <title>Reset Your Password</title>

  <link rel="stylesheet" href="/public/css/core.css" media="screen">
  <link rel="stylesheet" href="/public/css/pages/login.css" media="screen">
</head>
<body>
  <section class="login">
    <h1>Draker</h1>
    <form action="/reset" method="post">
      {{#if flash }}
      <div class="message flash">
        {{ flash }}
      </div>
      {{/if}}
      <ul>
        <li><label for="password">Original Password:</label> <input name='password' type='password'></input></li>
        <li><label for="password_new">New Password:</label> <input name='password_new' type='password'></input></li>
        <li><label for="password_new_check">New Password Again:</label> <input name='password_check' type='password'></input></li>
        <li><button class="button primary" type="submit" id='submitButton'>Submit</button></li>
      </ul>
      <a href="/ia">Continue to IA</a>
    </form>
  </section>
</body>
</html>
