<div class="verticalPane top">
  <div class="map"></div>
</div>

<div class="verticalPane bottom">
  <div class="projectDetail"></div>

  <div class="listContainer">
    <div class="header">
      <span class="refresh-icon">&#xf021;</span>
    </div>
    <div class="projectList"></div>
    <div class="footer">
      <button type="button" class="button create">{{$ 'New Project' }}</button>
      <button type="submit" class="button save primary">{{$ 'Save' }}</button>
      <button type="button" class="button cancel">{{$ 'Close' }}</button>
    </div>
  </div>
</div>
