<div class="project-list"></div>
<div class="project-detail"></div>
<div class="project-map"></div>

<div class="project-footer">
  <button type="button" class="button create">{{$ 'Create' }}</button>
</div>
