<div class="verticalPane top">
  <div id="map"></div>
</div>

<div class="verticalPane bottom">
  <div class="container half nav_content">
    <div id="projectList"></div>
    <div class="actions"></div>
  </div>

  <div id="projectEdit" class="container half"></div>
</div>
