<table class="basic">
  <thead>
    <tr>{{ edit_table_header }}</tr>
  </thead>
  <tbody></tbody>
</table>
<div class="buttonContainer">
  <button type="button" class="button add">Add</button>
</div>
