<div class="message" style="display:none"></div>

<h3>{{$ 'Edit Conditions' }}</h3>

<div class="container buttons">
	<button class="button addCondition sml">{{$ 'Add Condition' }}</button>
</div>

<ul class="conditions"></ul>

<div class="container">
  <button class="button primary save">{{$ 'Save' }}</button>
  <button class="button cancel">{{$ 'Cancel' }}</button>
</div>
