<td>{{ display_name }}</td>
<td>{{ description }}</td>
<td>{{ conditions.length }}</td>
<td>
  {{#if id }}<button class="button editConditions sml">{{$ 'Edit Conditions' }}</button>{{else}}
  <button class="button primary enable sml">{{$ 'Enable' }}</button>{{/if}}
</td>
