AC Power &lt; <input type="text" value="{{ condition.value }}">%
Severity:
<select id="severity">
  <option>- Select -</option>
  <option value="Warning">Warning</option>
  <option value="Alert">Alert</option>
</select>
