<table class="basic">
  <thead>
  <tr>
    <th></th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="actions"><a href="#viewAll" class="viewAll">View all issues</a></div>
