<canvas></canvas>

<div class="deviceInfoContainer"></div>

{{#if deviceTypes}}
<div class="controls deviceType">
  Device Type: <select>
  {{#each deviceTypes}}<option value="{{ this }}">{{ this }}</option>{{/each}}
</select>
</div>
{{/if}}

<div class="controls position">
  <ul>
    <li class="zoomIn">+</li>
    <li class="zoomOut">-</li>
    <li class="rotateL">&#8634;</li>
    <li class="rotateR">&#8635;</li>
    <li class="reset">Reset</li>
  </ul>
</div>
