<canvas></canvas>

<div class="controls position">
  <ul>
    <li class="center">Center</li>
    <li class="rotateL">Rotate Left</li>
    <li class="rotateR">Rotate Right</li>
    <li class="zoomIn">Zoom In</li>
    <li class="zoomOut">Zoom Out</li>
    <li class="reset">Reset</li>
  </ul>
</div>
