<li>{{$ 'DC Capacity' }}: <span class="value">{{ unitConversion dc_capacity 'k' }}</span> <span class="unit">kW</span></li>
<li>{{$ 'AC Capacity' }}: <span class="value">{{ unitConversion ac_capacity 'k' }}</span> <span class="unit">kW</span></li>
<li>{{$ 'Irradiance Now' }}: <span class="value">{{ unitConversion irradiance_now 'k' }}</span> <span class="unit">kW/m<super>2</super></span></li>
<li>{{$ 'Power Now' }}: <span class="value">{{ unitConversion power_now 'k' }}</span> <span class="unit">kW</span></li>
