<li>DC Capacity: {{ tokW dc_capacity }}<span class="unit">kW</span></li>
<li>AC Capacity: {{ tokW ac_capacity }}<span class="unit">kW</span></li>
<li>Irradiance Now: {{ tokW irradiance_now }}<span class="unit">kW/m<super>2</super></span></li>
<li>Power Now: {{ tokW power_now }}<span class="unit">kW</span></li>
