<span>DC Capacity: {{ tokW dc_capacity }} kW</span> <span>AC Capacity: {{ tokW ac_capacity }} kW</span> <span>Irradiance Now {{irradiance_now}} W/m<super>2</super></span> <span>Power Now {{power_now}} W</span>
