<div class="verticalPane">
  <h1 id="detail_header">Header</h1>
  <div id="kpis">KPIs</div>
  <div id="map_view">Map</div>
  <div id="alarms">Alarms</div>
</div>
<div class="verticalPane">
  <div id="projects">Projects</div>
</div>
