<li>{{$ 'DC Capacity' }}: <span class="value">{{ tokW dc_capacity }}</span> <span class="unit">kW</span></li>
<li>{{$ 'AC Capacity' }}: <span class="value">{{ tokW ac_capacity }}</span> <span class="unit">kW</span></li>
<li>{{$ 'Irradiance Now' }}: <span class="value">{{ tokW irradiance_now }}</span> <span class="unit">kW/m<super>2</super></span></li>
<li>{{$ 'Power Now' }}: <span class="value">{{ tokW power_now }}</span> <span class="unit">kW</span></li>
