<h3>Edit Portfolio</h3>
<form>
  <ul>
    <li>
      <label for="display_name">{{$ 'Name' }}</label>
      <input id="display_name" name="display_name" type="text" value="{{ display_name }}">
    </li>
    <li>
      <label for="filter">{{$ 'Filter By' }}</label>

      <select id="filter.property" name="filter.property">
        <option value="ac_capacity" {{#ifCond _filter.property 'ac_capacity' }}selected{{/ifCond}}>{{$ 'AC Capacity' }}</option>
      </select>

      <select id="filter.operator" name="filter.operator">
        <option value=">" {{#ifCond _filter.operator '>' }}selected{{/ifCond}}>&gt;</option>
        <option value="<" {{#ifCond _filter.operator '<' }}selected{{/ifCond}}>&lt;</option>
        <option value="=" {{#ifCond _filter.operator '=' }}selected{{/ifCond}}>=</option>
      </select>

      <input id="filter.value" name="filter.value" type="text" value="{{ _filter.value }}">
    </li>
    <li>
      <label for="share">Share with team: <input id="share" name="share" type="checkbox" {{#ifCond share true }}checked{{/ifCond}}></label>
    </li>
    <li>
      <div class="container buttons">
        <button class="button primary save">{{$ 'Save'}}</button>
        <button class="button cancel">{{$ 'Cancel'}}</button>
      </div>
    </li>
  </ul>
</form>
