<h3>Edit Portfolio</h3>
<form>
  <ul>
    <li>
      <label for="display_name">Name</label>
      <input id="display_name" name="display_name" type="text" value="{{ display_name }}">
    </li>
    <li>
      <div class="container buttons">
        <button class="button primary save">{{$ 'Save'}}</button>
        <button class="button cancel">{{$ 'Cancel'}}</button>
      </div>
    </li>
  </ul>
</form>
