<h3>Edit Portfolio</h3>
<form>
  <input id="label" name="label" type="hidden" value="{{ label }}">
  <ul>
    <li>
      <label for="display_name">Name</label>
      <input id="display_name" name="display_name" type="text" value="{{ display_name }}">
    </li>
    <li>
      <label for="_filter">Filter By</label>

      <select id="_filter.property" name="_filter.property">
        <option value="ac_capacity">AC Capacity</option>
      </select>

      <select id="_filter.operator" name="_filter.operator">
        <option value="<">&lt;</option>
        <option value=">">&gt;</option>
        <option value="=">=</option>
      </select>

      <input id="_filter.value" name="_filter.value" type="text">
    </li>
    <li>
      <div class="container buttons">
        <button class="button primary save">{{$ 'Save'}}</button>
        <button class="button cancel">{{$ 'Cancel'}}</button>
      </div>
    </li>
  </ul>
</form>
