<fieldset>
  <legend>{{$ 'Filter By' }}</legend>

  <input name="property" type="hidden" value="status">
  <input name="operator" type="hidden" value="=">

  {{$ 'Status' }} =

  <select name="value">
    <option value="Alert" {{#ifCond value 'Alert' }}selected{{/ifCond}}>{{$ 'Alert' }}</option>
    <option value="Warning" {{#ifCond value 'Warning' }}selected{{/ifCond}}>{{$ 'Warning' }}</option>
  </select>

  <button class="button sml remove">{{$ 'Remove'}}</button>
</fieldset>
