<h3>{{ name }}</h3>
<span>{{$ 'DC Capacity' }}: {{ tokW dc_capacity }}kW</span> <br>
<span>{{ subPortfolios.length }} {{$ 'Portfolios' }}</span> | <span> {{ projects.length }} {{$ 'Projects' }}</span>