<h3>{{ display_name }}</h3>
<ul>
	<li class="subPortfolios">{{ total_portfolios }}</li>
	<li class="projects">{{ total_projects }}</li>
  <li class="DCCapacity">{{ unitConversion dc_capacity 'k' }}kW</li>
</ul>
