<form>
  Name: <input type='text' name='dName'></input>
  Filter: <input type='text' name='filter'></input>
  Share: <input type='checkbox' value='Y' name='share'></input>
  <button>Save</button>
</form>
